* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  
  place-items: center;
  display: grid;
  height: 100vh;
  text-align: center;

  font-size: 1.5rem;
}

body, button {
  font-family: "DM Sans", sans-serif;
}

main {
  width: 42.8rem;
  height: auto;
  padding: 48px 64px 64px 64px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background: #FFFF;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}
.hide {
  display: none;
}

/*screen 1*/
h1, p{
  color: #34355B;
}

h1 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

p {
  margin-bottom: 2rem;
  margin-bottom: 2.7rem;
  font-weight: 400;
}

.screen1 button {
  border: none;
  background-color: #ffffff;
}

#cookie {
  width: 30rem;
  margin-bottom: 6.4rem;
}

#cookie:hover{
  animation-name: vibrate-fast;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  cursor: pointer;
}

/*screen 2*/
#phrases {
  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 1.7rem auto;
  width: 27.3rem;

  color: #000000;
  font-family: 'Dancing Script', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: auto;

  animation: message 1.2s ease-in-out;
}

.screen2 img {
  margin-top: 6rem;
}

.screen2 button {
  color: #ffffff;
  border-radius: .4rem;
  background: #FF9500;

  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  
  border: none;
  margin: 1.7rem auto 0rem;

  font-weight: 700;

}

.screen2 button:hover {
  background: #d57d02;
  cursor: pointer;
}


/*keyframes*/
@keyframes message {  
  from {
    transform: translateY(15rem) scale(0.2);
    opacity: 0.2;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes vibrate-fast {
			
    0% {
        transform:translate(0);
    }
    10% {
        transform:translate(-2px,-2px);
    }
    20% {
        transform:translate(2px,-2px);
    }
    30% {
        transform:translate(-2px,2px);
    }
    40% {
        transform:translate(2px,2px);
    }
    50% {
        transform:translate(-2px,-2px);
    }
    60% {
        transform:translate(2px,-2px);
    }
    70% {
        transform:translate(-2px,2px);
    }
    80% {
        transform:translate(-2px,-2px);
    }
    90% {
        transform:translate(2px,-2px);
    }
    100% {
        transform:translate(0);
    }
}